article > h4 > i {
	float: right;
}
.comment-heart {
	//margin-left: 10px;
	color:lightgrey;
}
.badge-add,
div.like {
	color: red !important;
}
.img-large {
	width: 100px !important;
	height: 100px !important;
}
article > h4 > div {
	font-family: 微軟正黑體;
}

img.img-small {
	width: 50px;
	height: 50px;
}
.badge {
	margin-bottom: 50px;
}
.padding-l {
	margin-left: 15px;
}
.comments {
	margin-left: 20px;
	margin-top: 0px;
}
ul.slide > li {
	border-bottom: inset;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-bottom: 10px;

}
ul.event > li{
	margin-bottom: 0;
}
div.container-badge {
   height: 6em;
   position: relative 
}              /* 1 */
div.container-badge h4 {
   margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%)
   font-family:微軟正黑體; 
}   /* 4 */