article > h4 > i {
	float: right;
}
.comment-heart {
	margin-left: 10px;
	color:lightgrey;
}
.badge-add,
div.like {
	color: red !important;
}
.img-large {
	width: 100px !important;
	height: 100px !important;
}
div > h4 > div {
	font-family: 微軟正黑體;
}

.like {
	margin-left: 50px;
}

img.img-small {
	width: 50px;
	height: 50px;
}
.badge {
	margin-bottom: 50px;
}
.padding-l {
	margin-left: 15px;
}
div.slide > li {
	border-bottom: inset;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;

}
ul.event > li{
	margin-bottom: 0;
}
div.container-badge {
	margin-top: 20px;
} 
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.user-panel > img.img-circle {
	margin-right: -px;
}
.form-control.leave {
	padding-top: 5px;
}
div > time {
	color: lightgrey;
	font-size: 14px;
}

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none;} 
.rating > label:before { 
  margin: 3px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

/*.rating > .half:before { 
  content: "\f089";
  position: absolute;
}*/

.rating > label { 
  color: #ddd; 
  float: right; 
  position: static;
  font-size: 13px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 