html {
	width: 100%;
  	height: 100%;
}
body {
	min-width: 100%;
  	min-height: 100%;
}

.navbar {
	background-color: #3c8dbc;
	border-width: 0;
}

#logo {
	font-family: cursive;
    color: white;
	font-size: 25px;
}

.container {
	min-width: 100%;
}

.row {
	padding-top: 50px;
}

.need-list {
    height: calc(100vh - 50px);
    background-color: white;
    overflow-y: scroll;
}

.need-map {
	height: calc(100vh - 50px);
	padding: 0px;
}

div#map-page {
	height: 100%;
}

div#need-page {
	height: 100%;
}

div#post-page {
	height: 100%;
	display: none;
}

div#more-page {
	height: 100%;
	display: none;
    position: relative;
}

.post-need-nav {
	padding-left: 25vw;
}

a#post-need-btn {
	width: 200px;
	font-family: "微軟正黑體";
    color: white;
	font-size: 20px;
	margin-top: 1px;
	text-align: center;
	background-color: #4b6ea8;
}

a#post-need-btn:hover {
	background-color: lightgrey;
	color: black;
}

a#user-name {
	font-size: 20px;
}

img#user-icon {
	height: 20px;
}





.post-header {
	width: calc(100% - 2px);
	height: 40%;
	padding: 0;
	margin-left: 1px;
	margin-top: 10px;
}

.new-img {
	height: 100%;
	border:1px solid black;
	border-width: 1px;
}

.new-img>img, .new-img>p {
	width: 100%;
}

.new-img>p {
	font-size: 25px;
	text-align: center;
}

.new-img:hover {
	background-color: lightblue;
}

.new-desc {
	height: 100%;
	padding-top: 10px;
	position: relative;
}

.post-tasks {
	height: 60%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	margin-top: 10px;
	border-top:1px solid black;
}

.confirm-btn {
	width: 90%;
	height: 50px;
	margin-bottom: 15px;	
	position: absolute;
    bottom: 0;
}


.more-img {
	width: 100%;
	height: 250px;
}

.more-tasks {
	padding-top: 20px;
}

.more-menbers {
	width: 100%;
	height: 100px;
	padding-top: 5px;
	border:1px solid black;
	position: absolute;
    bottom: 0;
}
















    
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 15px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-family: "微軟正黑體";
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}

	.facebook a,
	.follow a,
	.more a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}

	.follow a {
		color: rgb(100, 100, 100) !important;
	}
	.more a {
		color: rgb(0, 0, 0) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.follow:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
		
	}
	.more:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}
    
    
.panel-google-plus {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
}

.panel-google-plus > .panel-heading {   
    padding-bottom: 5px; 
}
.panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}



.jumbotron {
	padding-top: 0;
	padding-bottom: 0;
	background-color: white;
	font-family: "微軟正黑體";
}


.thumbnail {
	width: 105px;
	height: 105px;
	padding: 1;
	font-family: "微軟正黑體";
	text-align: center;
}

ul.thumbnails {
	list-style-type: none;
    margin: 50px;
    margin-bottom: 20px;
    overflow: hidden;
}

ul.thumbnails > li {
	float: left;
}

.need-input {
	width: 100%;
}




div.wrap {
  width: 80%;
  margin-left: 50px;
  margin-right: 50px;
  position: absolute;
  font-family: "微軟正黑體";
}

div.wrap div {
  position: relative;
  margin: 10px 0;
}

label {
  position: absolute;
  top: 0;
  font-size: 25px;
  margin: 10px;
  padding: 0 10px;
  background-color: white;
  -webkit-transition: top .2s ease-in-out, 
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out, 
              font-size .2s ease-in-out;
}

.active {
  top: -18px;
  font-size: 15px;
}

input[type=text] {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  border: 1px solid black;
  border-width: 2px;
  font-size: 20px;
} 

input[type=text]:focus {
  outline: none;
  border-color: orange;
}
